$ax-color: rgb(228, 35, 190);
$st-color: rgba(97, 145, 215, 1);
$container-bg-color: rgba(210, 210, 210, 0.3);
$gray1: rgb(30, 30, 30);
$gray2: rgb(70, 70, 70);
$gray3: rgb(120, 120, 120);
$fontpick: 'Trebuchet MS';
$shadow1: rgba(0, 0, 0, 0.35) 0px 5px 12px;
$shadow2: rgba(0, 0, 0, 0.55) 0px 5px 25px;

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.base-container {
  width: 100%;
}

h1 {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
  margin: 30px;
}

.gallery-container {
  width: 98%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 0.7rem, 0.7rem;
}

.piece-container {
  // background-color: rgb(230, 230, 230);

  width: 330px;
  height: 420px;
  margin: 3px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: 0.6s;
  border-radius: 5px;

  .piece-image-container {
    flex: 0 0 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    .piece-image {
      max-height: 330px;
      width: auto;
      max-width: 330px;
      border-radius: 5px;
      box-shadow: $shadow1;
    }
  }
  .piece-content {
    min-height: 90px;
    width: 330px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    transition: 1.5s;

    opacity: 0;
    .piece-text {
      padding: 10px;
      width: 70%;
      height: 80px;
      display: flex;

      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      p {
        margin: 0px;
        margin-left: 10px;
        color: $gray2;
        font-family: $fontpick;
        font-weight: bolder;
        font-size: large;
      }
      :first-child {
        font-size: larger;
        margin-left: 0px;
        color: $gray1;
      }
    }
    .piece-buttons {
      margin: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      img,
      p {
        margin: 5px;
      }
    }
  }

  .signin-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.piece-container:hover {
  background-color: $container-bg-color;
  box-shadow: $shadow1;
  .piece-content {
    opacity: 1;
  }
}
