#userSubmissionForm {
  display: none;
  font-family: 'Comic Sans MS';
}

h1 {
  font-family: 'Comic Sans MS'; // someone find cuter font
  text-align: center;
  color: white;
}

button {
  font-family: 'Comic Sans MS';
}

.formButtons input {
  font-family: 'Comic Sans MS';
}

#feedDisplay {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

.itemName,
.artist,
.price,
.description,
.feedItemButtonsRow {
  padding: 0.5em;
}

.formButtons input,
.inputBidButton,
.buyItemButton,
#createArtButton,
#deleteArtButton,
#updateArtButton {
  padding: 0.5em;
  margin-left: 0.4rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
}

#createArtButton,
#deleteArtButton,
#updateArtButton {
  background-color: rgb(255, 227, 225);
}

.formButtons input:hover,
.inputBidButton:hover,
.buyItemButton:hover,
#createArtButton:hover,
#deleteArtButton:hover,
#updateArtButton:hover {
  cursor: pointer;
  background-color: rgb(154, 25, 128);
  color: white;
}

.feedItem {
  border-radius: 10px;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 227, 225);
  font-family: 'Comic Sans MS';
  transition: transform 0.3s ease;
  box-shadow: rgba(254, 205, 211, 0.1) 0px 4px 16px,
    rgba(254, 205, 211, 0.1) 0px 8px 24px,
    rgba(254, 205, 211, 0.1) 0px 16px 56px;
}

#navBar {
  background-color: pink;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  // border: 0.2em solid white;
}

.feedItem:hover {
  transform: scale(1.1);
}

.feedItemButtonsRow button {
  background-color: rgb(251, 172, 185);
  transition: background-color 0.3s ease;
}
// rgb(130, 54, 47)
.feedItemButtonsRow button:hover {
  background-color: rgb(228, 35, 190);
}

.subArr--container {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
}

#root,
h1 {
  background-color: rgb(251, 172, 185);
}

html {
  background-color: rgb(251, 172, 185);
}
/*
#FFF5E4
#FFE3E1
#FFD1D1
#FF9494

rgb(255, 245, 228)
rgb(255, 227, 225)
rgb(255, 209, 209)
rgb(255, 148, 148)


*/
